src/node_modules
src/.pnpm-store
src/public/*
!src/public/storage
src/files/

src/storage/*.key
src/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
tools/*.key
.DS_Store
docker/mariadb/data/
src/node_modules
src/.php-cs-fixer.cache
