src/node_modules
src/.pnpm-store
src/public/
src/files/

src/storage/*.key
src/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode/settings.json
tools/*.key
.DS_Store
docker/mariadb/data/
