.btn {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.error {
    color: red; // TODO: 後で共通化
    white-space: pre-line;
    width: fit-content;
}

.text-link {
    color: #0d95f6; // TODO: 後で共通化
}

.color-gray {
    color: #888ea8;
}

.divider {
    border: solid 0.5px gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

